In [295]:
import pandas as pd
import datetime

In [296]:
df_features = pd.read_csv('features.csv')

In [297]:
df_features.head()

,time,user,mean_x,max_x,min_x,sd_x,mean_y,max_y,min_y,sd_y,mean_z,max_z,min_z,sd_z
0,2019-05-17 13:53:00 UTC,104,-0.112143,0.038,-0.229,0.040852,-0.740824,-0.651,-0.842,0.041966,-9.777671,-9.776,-9.780,0.000790
1,2019-05-17 16:21:00 UTC,105,-0.332804,-0.268,-0.421,0.038889,0.692818,0.804,0.574,0.032089,9.776316,9.777,9.775,0.000533
2,2019-05-12 12:27:00 UTC,104,-2.152680,-2.030,-2.260,0.041724,-0.429087,-0.344,-0.498,0.040463,9.558065,9.563,9.554,0.001730
3,2019-05-13 07:39:00 UTC,99,-2.138247,5.142,-14.298,5.326790,-7.465437,-0.938,-13.465,2.582436,1.855063,5.209,-0.948,1.345828
4,2019-05-15 15:49:00 UTC,104,0.471843,0.612,0.383,0.037730,-0.305190,-0.191,-0.383,0.041807,9.790620,9.792,9.789,0.000566

In [298]:
user_id = [95]
df_features['time'] = pd.to_datetime(df_features['time'])
start_date = '2019-05-13'
stop_date = '2019-05-14'
startDate=pd.to_datetime(start_date)
endDate=pd.to_datetime(stop_date)

df_features = df_features.loc[(df_features['time']>=start_date) & (df_features['time']<=stop_date)]
df_features = df_features.loc[df_features['user'].isin(user_id)]

In [299]:
df_features.count()

time      113
user      113
mean_x    113
max_x     113
min_x     113
sd_x      113
mean_y    113
max_y     113
min_y     113
sd_y      113
mean_z    113
max_z     113
min_z     113
sd_z      113
dtype: int64

In [294]:
df_features.head()

Empty DataFrame
Columns: [time, user, mean_x, max_x, min_x, sd_x, mean_y, max_y, min_y, sd_y, mean_z, max_z, min_z, sd_z]
Index: []