In [37]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [38]:
file_name = "dialogue.csv"
df = pd.read_csv(file_name)
df.head()

,userId,timeStart,timeStop,act,text,platform,intent,recordType,responseText,tag
0,94,2019-05-13 12:31:54 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:31:54,0.0
1,94,2019-05-13 12:31:54 +0900,2019-05-13 12:37:10 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:37:10,0.0
2,94,2019-05-13 12:42:03 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:42:03,0.0
3,94,2019-05-13 12:42:03 +0900,2019-05-13 12:48:03 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:48:03,0.0
4,94,2019-05-13 12:42:34 +0900,NaN,IN_VEHICLE,vehicle,VOICE,talk,start,IN_VEHICLE is started at 12:42:34,0.0

In [39]:
df = df.dropna(subset=['tag'])
df.tag = df.tag.astype(int)
df.head()

,userId,timeStart,timeStop,act,text,platform,intent,recordType,responseText,tag
0,94,2019-05-13 12:31:54 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:31:54,0
1,94,2019-05-13 12:31:54 +0900,2019-05-13 12:37:10 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:37:10,0
2,94,2019-05-13 12:42:03 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:42:03,0
3,94,2019-05-13 12:42:03 +0900,2019-05-13 12:48:03 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:48:03,0
4,94,2019-05-13 12:42:34 +0900,NaN,IN_VEHICLE,vehicle,VOICE,talk,start,IN_VEHICLE is started at 12:42:34,0

In [40]:
# df = df[['act', 'tag','userId','timeStart','timeStop']]

In [41]:
df.groupby(["act"]).size()

act
CARRYING       14
CYCLING        12
DOWNSTAIRS     28
IN_VEHICLE     22
LYING          24
ON_TRAIN        2
PHONE           6
RUNNING         2
SITTING       148
STANDING       80
UPSTAIRS       14
WALKING       134
dtype: int64

In [42]:
# df.groupby(["act", "tag"]).size()

In [43]:
df.groupby(["tag"]).size()

tag
0    371
1    101
2     14
dtype: int64

In [44]:
df.count()

userId          486
timeStart       486
timeStop        244
act             486
text            486
platform        483
intent          483
recordType      483
responseText    485
tag             486
dtype: int64

In [45]:
def percentage(num):
    per = (num*100.0)/486
    per = round(per, 0)
    return per

In [46]:
print('Percent of present: '+str(percentage(371))+'%')
print('Percent of past: '+str(percentage(101))+'%')
print('Percent of future: '+str(percentage(14))+'%')
print('Percent of temp: '+str(percentage(101+14))+'%')

Percent of present: 76.0%
Percent of past: 21.0%
Percent of future: 3.0%
Percent of temp: 24.0%

In [47]:
# df.dropna(subset=['timeStop']).groupby(["tag"]).size()

In [48]:
df['text'] = df['text'].str.strip()
df['count'] = df['text'].str.findall(r'(\w+)').str.len()
df.groupby(["text"]).size().sort_values(ascending=False).head(10)

text
stop sitting     37
sitting          29
stop walking     24
walking          23
stop walk        18
stop stand       16
sit              13
stop standing    12
standing         11
lying            11
dtype: int64

In [49]:
num = [37, 29, 24, 23, 18, 16, 13, 12, 11, 11]

for i in range(len(num)):
    n = num[i]
    print("n:", + n)
    print(str(percentage(n))+'%')

n: 37
8.0%
n: 29
6.0%
n: 24
5.0%
n: 23
5.0%
n: 18
4.0%
n: 16
3.0%
n: 13
3.0%
n: 12
2.0%
n: 11
2.0%
n: 11
2.0%

In [50]:
df['time'] = df.tag.map({0:"Present",1:"Past",2:"Future"})

In [51]:
df.head()

,userId,timeStart,timeStop,act,text,platform,intent,recordType,responseText,tag,count,time
0,94,2019-05-13 12:31:54 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:31:54,0,1,Present
1,94,2019-05-13 12:31:54 +0900,2019-05-13 12:37:10 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:37:10,0,2,Present
2,94,2019-05-13 12:42:03 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:42:03,0,1,Present
3,94,2019-05-13 12:42:03 +0900,2019-05-13 12:48:03 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:48:03,0,2,Present
4,94,2019-05-13 12:42:34 +0900,NaN,IN_VEHICLE,vehicle,VOICE,talk,start,IN_VEHICLE is started at 12:42:34,0,1,Present

In [52]:
df['time'] = df.tag.map({0:"Present",1:"Past",2:"Future"})
# df.drop_duplicates(subset ="timeStart") 
df.to_csv('time_expression.csv')

In [53]:
df.count()

userId          486
timeStart       486
timeStop        244
act             486
text            486
platform        483
intent          483
recordType      483
responseText    485
tag             486
count           486
time            486
dtype: int64