In [77]:
import pandas as pd
import datetime

In [78]:
# user_id = [103]
# start_date = '2019-05-13'
# stop_date = '2019-05-14'

In [79]:
df = pd.read_csv('labels.csv')

In [80]:
df.head()

,id,user_id,role,activity_type_id,activity_type,date,start,finish,target_id,target_role,activity2user_id
0,2899,94,Staff,67,SITTING,2019/05/13,2019-05-13 12:31:54 +0900,2019-05-13 12:37:10 +0900,94,Staff,2993
1,2949,94,Staff,67,SITTING,2019/05/13,2019-05-13 12:42:03 +0900,2019-05-13 12:48:03 +0900,94,Staff,3039
2,2900,94,Staff,66,IN_VEHICLE,2019/05/13,2019-05-13 12:42:34 +0900,2019-05-13 12:48:43 +0900,94,Staff,2994
3,2901,94,Staff,62,WALKING,2019/05/13,2019-05-13 12:48:49 +0900,2019-05-13 12:52:46 +0900,94,Staff,2995
4,2952,94,Staff,70,DOWNSTAIRS,2019/05/13,2019-05-13 14:46:40 +0900,2019-05-13 14:48:00 +0900,94,Staff,3042

In [81]:
# df = df[df.date >= start_date]
# df = df[df.date <=stop_date]
# df = df.loc[df['user_id'].isin(user_id)]

In [82]:
df.groupby(["activity_type"]).size()

activity_type
CARRYING       4
CYCLING        1
DOWNSTAIRS     9
IN_VEHICLE    10
LYING          5
PHONE          1
RUNNING        1
SITTING       49
STANDING      24
UPSTAIRS       4
WALKING       53
dtype: int64

In [84]:
# df.groupby(["activity_type","user_id"]).size()

In [85]:
df.count()

id                  161
user_id             161
role                161
activity_type_id    161
activity_type       161
date                161
start               161
finish              161
target_id           161
target_role         161
activity2user_id    161
dtype: int64