In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
# from sklearn.metrics import balanced_accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import warnings
warnings.filterwarnings('ignore')

In [11]:
df = pd.read_csv("train_data_94.csv");
df = df.reset_index()
df.head()

,index,Unnamed: 0,mean_x,max_x,min_x,sd_x,mean_y,max_y,min_y,sd_y,mean_z,max_z,min_z,sd_z,act,time,time0_start,time1_finish
0,0,0,-2.784791,5.545,-14.001,3.542913,-9.747358,-0.239,-19.604,4.526637,-0.500174,15.256,-12.124,3.720446,SITTING,2019-05-13 03:32:00,2019-05-13 03:31:54,2019-05-13 03:37:10
1,1,1,-1.177259,-0.708,-2.739,0.849536,-0.640404,-0.383,-1.522,0.466370,-9.764687,-9.337,-9.883,0.215677,SITTING,2019-05-13 03:33:00,2019-05-13 03:31:54,2019-05-13 03:37:10
2,2,2,0.788996,0.919,0.689,0.040490,-0.048876,0.076,-0.191,0.046500,9.774273,9.776,9.773,0.000757,SITTING,2019-05-13 03:34:00,2019-05-13 03:31:54,2019-05-13 03:37:10
3,3,3,0.787870,0.919,0.689,0.043414,-0.038996,0.076,-0.153,0.042615,9.775083,9.777,9.773,0.000722,SITTING,2019-05-13 03:35:00,2019-05-13 03:31:54,2019-05-13 03:37:10
4,4,4,-2.384000,-2.384,-2.384,NaN,-5.813000,-5.813,-5.813,NaN,-8.312000,-8.312,-8.312,NaN,SITTING,2019-05-13 03:36:00,2019-05-13 03:31:54,2019-05-13 03:37:10

In [12]:
df.describe()

,index,Unnamed: 0,mean_x,max_x,min_x,sd_x,mean_y,max_y,min_y,sd_y,mean_z,max_z,min_z,sd_z
count,188.000000,188.000000,188.000000,188.000000,188.000000,187.000000,188.000000,188.000000,188.000000,187.000000,188.000000,188.000000,188.000000,187.000000
mean,93.500000,93.500000,-0.735468,1.127032,-2.274165,0.582160,-0.117707,4.080856,-1.945293,1.175424,1.843953,16.511213,-0.658862,3.179048
std,54.415071,54.415071,4.347351,5.109477,5.023172,0.990043,5.515109,15.082229,6.868437,3.255457,8.132438,65.133110,6.858680,14.466790
min,0.000000,0.000000,-9.531824,-8.667000,-14.585000,0.000000,-10.539111,-8.954000,-19.604000,0.000000,-9.988000,-9.988000,-21.232000,0.000000
25%,46.750000,46.750000,-3.921141,-1.532250,-5.770000,0.036478,-3.965835,-2.216750,-5.994500,0.035075,-5.325502,-3.495250,-6.471000,0.008016
50%,93.500000,93.500000,-0.116502,0.258500,-1.896000,0.113798,-0.471093,0.076000,-1.282500,0.124068,1.143874,4.807500,0.023000,0.098387
75%,140.250000,140.250000,0.689179,4.611250,0.104750,0.710552,2.766986,6.928500,0.766000,0.878501,8.353708,9.805000,5.017750,0.805597
max,187.000000,187.000000,9.515879,18.589000,8.006000,5.326790,15.368333,71.000000,9.538000,27.253839,50.865833,322.625000,11.109000,133.134258

In [13]:
df = df.dropna()

In [14]:
X = df.iloc[:,2:14]
Y = df.act
validation_size = 0.1
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed ,shuffle =True)

In [15]:
# Test options and evaluation metric
seed = 7
scoring = 'accuracy'

In [16]:
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
results = []
names = []
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

LR: 0.922426 (0.074994)
LDA: 0.886397 (0.107469)
KNN: 0.922426 (0.070228)
CART: 0.839706 (0.091191)
NB: 0.590441 (0.153068)
SVM: 0.916544 (0.084255)

In [17]:
model = KNeighborsClassifier()
model.fit(X_train, Y_train)
predictions = model.predict(X_validation)
print(accuracy_score(Y_validation, predictions))
print(confusion_matrix(Y_validation, predictions))
print(classification_report(Y_validation, predictions))

0.8947368421052632
[[ 0  1  0]
 [ 0 17  0]
 [ 0  1  0]]
             precision    recall  f1-score   support

 DOWNSTAIRS       0.00      0.00      0.00         1
    SITTING       0.89      1.00      0.94        17
    WALKING       0.00      0.00      0.00         1

avg / total       0.80      0.89      0.85        19

In [18]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix

kfold = model_selection.KFold(n_splits=10, random_state=seed)
model = SVC(gamma='auto')
y_pred = cross_val_predict(model, X, Y, cv=kfold)

print(accuracy_score(Y, y_pred))
print(confusion_matrix(Y, y_pred))
print(classification_report(Y, y_pred))


results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print("Accuracy: Final mean:%.3f%%, Final standard deviation:(%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
print('Accuracies from each of the 5 folds using kfold:',results)
print("Variance of kfold accuracies:",results.var())

0.9251336898395722
[[  0   0   2   0]
 [  0   0   6   0]
 [  0   0 173   0]
 [  0   0   6   0]]
             precision    recall  f1-score   support

 DOWNSTAIRS       0.00      0.00      0.00         2
 IN_VEHICLE       0.00      0.00      0.00         6
    SITTING       0.93      1.00      0.96       173
    WALKING       0.00      0.00      0.00         6

avg / total       0.86      0.93      0.89       187

Accuracy: Final mean:92.632%, Final standard deviation:(14.924%)
Accuracies from each of the 5 folds using kfold: [0.57894737 0.68421053 1.         1.         1.         1.
 1.         1.         1.         1.        ]
Variance of kfold accuracies: 0.02227146814404432