In [443]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [444]:
file_name = "dialogue.csv"
df = pd.read_csv(file_name)
df.head()

,userId,timeStart,timeStop,act,text,platform,intent,recordType,responseText,tag
0,94,2019-05-13 12:31:54 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:31:54,0.0
1,94,2019-05-13 12:31:54 +0900,2019-05-13 12:37:10 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:37:10,0.0
2,94,2019-05-13 12:42:03 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:42:03,0.0
3,94,2019-05-13 12:42:03 +0900,2019-05-13 12:48:03 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:48:03,0.0
4,94,2019-05-13 12:42:34 +0900,NaN,IN_VEHICLE,vehicle,VOICE,talk,start,IN_VEHICLE is started at 12:42:34,0.0

In [445]:
df = df.dropna(subset=['tag'])
df.tag = df.tag.astype(int)
df.head()

,userId,timeStart,timeStop,act,text,platform,intent,recordType,responseText,tag
0,94,2019-05-13 12:31:54 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:31:54,0
1,94,2019-05-13 12:31:54 +0900,2019-05-13 12:37:10 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:37:10,0
2,94,2019-05-13 12:42:03 +0900,NaN,SITTING,sitting,VOICE,talk,start,SITTING is started at 12:42:03,0
3,94,2019-05-13 12:42:03 +0900,2019-05-13 12:48:03 +0900,SITTING,stop sitting,VOICE,stop,stop,SITTING is stopped at 12:48:03,0
4,94,2019-05-13 12:42:34 +0900,NaN,IN_VEHICLE,vehicle,VOICE,talk,start,IN_VEHICLE is started at 12:42:34,0

In [446]:
# df = df[['act', 'tag','userId','timeStart','timeStop']]

In [447]:
df.groupby(["act"]).size()

act
CARRYING        8
CYCLING         2
DOWNSTAIRS     18
IN_VEHICLE     20
LYING          10
PHONE           2
RUNNING         2
SITTING        98
STANDING       48
UPSTAIRS        8
WALKING       106
dtype: int64

In [448]:
# df.groupby(["act", "userId"]).size()

In [449]:
df.groupby(["tag"]).size()

tag
0    250
1     64
2      8
dtype: int64

In [450]:
df.count()

userId          322
timeStart       322
timeStop        162
act             322
text            322
platform        319
intent          319
recordType      319
responseText    321
tag             322
dtype: int64

In [513]:
def percentage(num):
    per = (num*100.0)/320
    per = round(per, 0)
    return per

In [451]:
print('Percent of present: '+str(percentage(249))+'%')
print('Percent of past: '+str(percentage(64))+'%')
print('Percent of future: '+str(percentage(8))+'%')
print('Percent of temp: '+str(percentage(64+8))+'%')

Percent of present: 78.0%
Percent of past: 20.0%
Percent of future: 2.0%
Percent of temp: 22.0%

In [452]:
df.to_csv('time_expression.csv')

In [453]:
# df.dropna(subset=['timeStop']).groupby(["tag"]).size()

In [454]:
df['text'] = df['text'].str.strip()
df.groupby(["text"]).size().sort_values(ascending=False).head(20)
# top_utt = df.drop_duplicates(["text"])

text
stop sitting                   22
sitting                        22
stop walking                   19
walking                        17
stop walk                      12
stop standing                  11
stop stand                      9
sit                             8
walking now                     7
stand                           7
walk                            6
vehicle                         6
lying                           5
stop sitting 10 minutes ago     5
standing                        5
finished walking                4
stop sit                        4
stop lying                      3
finish sitting                  3
walking 2 minutes ago           3
dtype: int64

In [456]:
df['count'] = df['text'].str.findall(r'(\w+)').str.len()
df.groupby(["text", "count"]).size().sort_values(ascending=False).head(20)

text                         count
stop sitting                 2        22
sitting                      1        22
stop walking                 2        19
walking                      1        17
stop walk                    2        12
stop standing                2        11
stop stand                   2         9
sit                          1         8
walking now                  2         7
stand                        1         7
walk                         1         6
vehicle                      1         6
lying                        1         5
stop sitting 10 minutes ago  5         5
standing                     1         5
finished walking             2         4
stop sit                     2         4
stop lying                   2         3
finish sitting               2         3
walking 2 minutes ago        4         3
dtype: int64

In [495]:
df['count'].max(level=0).sort_values(ascending=False)

381    5
220    5
351    5
161    5
164    5
311    5
346    5
344    5
33     5
341    5
211    5
72     5
354    5
235    5
330    5
240    5
327    5
325    5
271    5
274    5
286    5
315    5
48     5
347    5
51     5
104    5
378    5
76     5
68     5
375    5
      ..
379    1
186    1
81     1
84     1
89     1
96     1
99     1
113    1
116    1
117    1
130    1
132    1
137    1
140    1
141    1
144    1
147    1
151    1
153    1
159    1
162    1
165    1
169    1
172    1
175    1
177    1
179    1
181    1
183    1
0      1
Name: count, dtype: int64

In [518]:
for i in range(5):
    c = df[df['count'] == i+1]['count'].count()
    print("len"+str(i+1), + c)
    print(str(percentage(c))+'%\n')

len1 85
27.0%

len2 149
47.0%

len3 16
5.0%

len4 29
9.0%

len5 43
13.0%