In [36]:
import pandas as pd
import datetime

In [37]:
# 94, 95, 97, 98, 100, 103

user_id = [105]
start_date = '2019-05-13'
stop_date = '2019-05-14'

In [38]:
df = pd.read_csv('activities.csv')

In [39]:
df.head()

,id,user_id,role,activity_type_id,activity_type,date,start,finish,target_id,target_role,activity2user_id
0,2581,1,Staff,62,WALKING,2019-05-07,2019-05-07 12:48:20 +0900,2019-05-07 12:48:20 +0900,1,Staff,2719
1,2646,94,Staff,62,WALKING,2019-05-07,2019-05-08 00:12:19 +0900,2019-05-08 00:12:19 +0900,94,Staff,2749
2,2680,1,Staff,62,WALKING,2019-05-10,2019-05-11 08:23:39 +0900,2019-05-11 08:23:39 +0900,1,Staff,2774
3,2685,105,Staff,62,WALKING,2019-05-11,2019-05-11 10:12:33 +0900,2019-05-11 10:12:38 +0900,105,Staff,2777
4,2688,105,Staff,62,WALKING,2019-05-11,2019-05-11 10:33:56 +0900,2019-05-11 10:34:01 +0900,105,Staff,2780

In [40]:
df = df[df.date >= start_date]
df = df[df.date <=stop_date]
df = df.loc[df['user_id'].isin(user_id)]

In [41]:
df.count()

id                  67
user_id             67
role                67
activity_type_id    67
activity_type       67
date                67
start               67
finish              67
target_id           67
target_role         67
activity2user_id    67
dtype: int64

In [42]:
df = df.sort_values(by=['start'])
df = df.drop_duplicates(['start'])

In [43]:
df.count()

id                  63
user_id             63
role                63
activity_type_id    63
activity_type       63
date                63
start               63
finish              63
target_id           63
target_role         63
activity2user_id    63
dtype: int64

In [44]:
df

,id,user_id,role,activity_type_id,activity_type,date,start,finish,target_id,target_role,activity2user_id
830,2746,105,Staff,67,SITTING,2019-05-13,2019-05-13 09:18:35 +0900,2019-05-13 09:33:55 +0900,105,Staff,2840
1767,2748,105,Staff,70,DOWNSTAIRS,2019-05-13,2019-05-13 09:38:21 +0900,2019-05-13 09:38:51 +0900,105,Staff,2855
717,2766,105,Staff,65,CYCLING,2019-05-13,2019-05-13 09:40:04 +0900,2019-05-13 09:42:05 +0900,105,Staff,2857
29,2767,105,Staff,62,WALKING,2019-05-13,2019-05-13 09:42:09 +0900,2019-05-13 09:48:54 +0900,105,Staff,2858
718,2768,105,Staff,65,CYCLING,2019-05-13,2019-05-13 09:48:57 +0900,2019-05-13 09:54:03 +0900,105,Staff,2859
30,2769,105,Staff,62,WALKING,2019-05-13,2019-05-13 09:54:59 +0900,2019-05-13 09:58:46 +0900,105,Staff,2860
835,2770,105,Staff,67,SITTING,2019-05-13,2019-05-13 09:59:41 +0900,2019-05-13 10:21:59 +0900,105,Staff,2862
842,2780,105,Staff,67,SITTING,2019-05-13,2019-05-13 10:24:30 +0900,2019-05-13 11:23:57 +0900,105,Staff,2872
848,2788,105,Staff,67,SITTING,2019-05-13,2019-05-13 11:24:19 +0900,2019-05-13 11:25:03 +0900,105,Staff,2880
52,2839,105,Staff,62,WALKING,2019-05-13,2019-05-13 11:32:39 +0900,2019-05-13 11:42:48 +0900,105,Staff,2932
858,2840,105,Staff,67,SITTING,2019-05-13,2019-05-13 11:42:50 +0900,2019-05-13 11:50:43 +0900,105,Staff,2933
53,2841,105,Staff,62,WALKING,2019-05-13,2019-05-13 11:50:44 +0900,2019-05-13 11:51:39 +0900,105,Staff,2934
1873,2842,105,Staff,72,UPSTAIRS,2019-05-13,2019-05-13 11:51:42 +0900,2019-05-13 11:52:15 +0900,105,Staff,2935
1954,2838,105,Staff,73,ON_TRAIN,2019-05-13,2019-05-13 11:51:47 +0900,2019-05-13 11:52:15 +0900,105,Staff,2936
1778,2844,105,Staff,70,DOWNSTAIRS,2019-05-13,2019-05-13 11:57:09 +0900,2019-05-13 11:57:29 +0900,105,Staff,2937
54,2845,105,Staff,62,WALKING,2019-05-13,2019-05-13 11:57:33 +0900,2019-05-13 12:00:27 +0900,105,Staff,2938
1402,2846,105,Staff,68,STANDING,2019-05-13,2019-05-13 12:01:30 +0900,2019-05-13 12:18:23 +0900,105,Staff,2939
869,2880,105,Staff,67,SITTING,2019-05-13,2019-05-13 12:18:25 +0900,2019-05-13 12:40:26 +0900,105,Staff,2975
66,2883,105,Staff,62,WALKING,2019-05-13,2019-05-13 12:40:27 +0900,2019-05-13 12:41:18 +0900,105,Staff,2978
67,2884,105,Staff,62,WALKING,2019-05-13,2019-05-13 12:42:08 +0900,2019-05-13 12:42:49 +0900,105,Staff,2979
879,2907,105,Staff,67,SITTING,2019-05-13,2019-05-13 13:19:08 +0900,2019-05-13 13:45:52 +0900,105,Staff,3002
884,2924,105,Staff,67,SITTING,2019-05-13,2019-05-13 13:45:57 +0900,2019-05-13 13:45:57 +0900,105,Staff,3020
79,2931,105,Staff,62,WALKING,2019-05-13,2019-05-13 14:03:55 +0900,2019-05-13 14:04:41 +0900,105,Staff,3028
886,2938,105,Staff,67,SITTING,2019-05-13,2019-05-13 14:04:44 +0900,2019-05-13 14:15:50 +0900,105,Staff,3029
888,2940,105,Staff,67,SITTING,2019-05-13,2019-05-13 14:15:55 +0900,2019-05-13 14:21:19 +0900,105,Staff,3031
1417,2941,105,Staff,68,STANDING,2019-05-13,2019-05-13 14:21:23 +0900,2019-05-13 14:30:50 +0900,105,Staff,3032
889,2942,105,Staff,67,SITTING,2019-05-13,2019-05-13 14:30:53 +0900,2019-05-13 14:43:16 +0900,105,Staff,3033
1781,2950,105,Staff,70,DOWNSTAIRS,2019-05-13,2019-05-13 14:43:35 +0900,2019-05-13 14:43:50 +0900,105,Staff,3040
893,2951,105,Staff,67,SITTING,2019-05-13,2019-05-13 14:43:57 +0900,2019-05-13 14:51:54 +0900,105,Staff,3041
1705,2953,105,Staff,69,LYING,2019-05-13,2019-05-13 14:51:56 +0900,2019-05-13 15:09:46 +0900,105,Staff,3043
...,...,...,...,...,...,...,...,...,...,...,...
1978,2979,105,Staff,74,CARRYING,2019-05-13,2019-05-13 15:56:13 +0900,2019-05-13 15:56:48 +0900,105,Staff,3068
903,2983,105,Staff,67,SITTING,2019-05-13,2019-05-13 15:58:17 +0900,2019-05-13 16:14:56 +0900,105,Staff,3071
914,3005,105,Staff,67,SITTING,2019-05-13,2019-05-13 17:00:29 +0900,2019-05-13 17:12:16 +0900,105,Staff,3092
1707,3022,105,Staff,69,LYING,2019-05-13,2019-05-13 17:12:22 +0900,2019-05-13 17:43:27 +0900,105,Staff,3109
100,3034,105,Staff,62,WALKING,2019-05-13,2019-05-13 17:45:01 +0900,2019-05-13 17:48:10 +0900,105,Staff,3117
1786,3088,105,Staff,70,DOWNSTAIRS,2019-05-13,2019-05-13 17:48:13 +0900,2019-05-13 17:50:31 +0900,105,Staff,3169
1787,3089,105,Staff,70,DOWNSTAIRS,2019-05-13,2019-05-13 17:48:22 +0900,2019-05-13 17:50:32 +0900,105,Staff,3170
722,3090,105,Staff,65,CYCLING,2019-05-13,2019-05-13 17:51:08 +0900,2019-05-13 17:57:18 +0900,105,Staff,3171
723,3091,105,Staff,65,CYCLING,2019-05-13,2019-05-13 17:51:13 +0900,2019-05-13 17:57:18 +0900,105,Staff,3172
947,3092,105,Staff,67,SITTING,2019-05-13,2019-05-13 17:58:36 +0900,2019-05-13 18:15:19 +0900,105,Staff,3173
724,3093,105,Staff,65,CYCLING,2019-05-13,2019-05-13 18:15:40 +0900,2019-05-13 18:28:43 +0900,105,Staff,3174
117,3094,105,Staff,62,WALKING,2019-05-13,2019-05-13 18:29:57 +0900,2019-05-13 18:30:55 +0900,105,Staff,3175
1440,3095,105,Staff,68,STANDING,2019-05-13,2019-05-13 18:30:59 +0900,2019-05-13 18:31:19 +0900,105,Staff,3176
1980,3096,105,Staff,74,CARRYING,2019-05-13,2019-05-13 18:31:25 +0900,2019-05-13 18:32:42 +0900,105,Staff,3177
118,3098,105,Staff,62,WALKING,2019-05-13,2019-05-13 18:32:50 +0900,2019-05-13 18:40:02 +0900,105,Staff,3178
1441,3099,105,Staff,68,STANDING,2019-05-13,2019-05-13 18:40:04 +0900,2019-05-13 18:42:09 +0900,105,Staff,3179
725,3101,105,Staff,65,CYCLING,2019-05-13,2019-05-13 18:43:00 +0900,2019-05-13 18:44:15 +0900,105,Staff,3180
1880,3102,105,Staff,72,UPSTAIRS,2019-05-13,2019-05-13 18:44:47 +0900,2019-05-13 18:45:22 +0900,105,Staff,3181
1708,3106,105,Staff,69,LYING,2019-05-13,2019-05-13 18:48:05 +0900,2019-05-13 19:23:58 +0900,105,Staff,3184
2012,3151,105,Staff,75,PHONE,2019-05-14,2019-05-14 09:33:43 +0900,2019-05-14 09:34:10 +0900,105,Staff,3231
1457,3152,105,Staff,68,STANDING,2019-05-14,2019-05-14 09:34:25 +0900,2019-05-14 09:46:08 +0900,105,Staff,3232
726,3187,105,Staff,65,CYCLING,2019-05-14,2019-05-14 09:56:12 +0900,2019-05-14 10:03:25 +0900,105,Staff,3261
146,3195,105,Staff,62,WALKING,2019-05-14,2019-05-14 10:04:20 +0900,2019-05-14 10:05:19 +0900,105,Staff,3262
1981,3196,105,Staff,74,CARRYING,2019-05-14,2019-05-14 10:05:21 +0900,2019-05-14 10:05:34 +0900,105,Staff,3263
1464,3197,105,Staff,68,STANDING,2019-05-14,2019-05-14 10:05:36 +0900,2019-05-14 10:06:14 +0900,105,Staff,3264
1507,3551,105,Staff,68,STANDING,2019-05-14,2019-05-14 15:59:58 +0900,2019-05-14 16:06:38 +0900,105,Staff,3524
1728,3727,105,Staff,69,LYING,2019-05-14,2019-05-14 16:06:41 +0900,2019-05-14 16:15:54 +0900,105,Staff,3552
240,3745,105,Staff,62,WALKING,2019-05-14,2019-05-14 16:23:34 +0900,2019-05-14 16:35:49 +0900,105,Staff,3571
1044,3775,105,Staff,67,SITTING,2019-05-14,2019-05-14 18:07:16 +0900,2019-05-14 18:30:32 +0900,105,Staff,3603
778,3996,105,Staff,66,IN_VEHICLE,2019-05-14,2019-05-14 18:53:56 +0900,2019-05-14 19:01:24 +0900,105,Staff,3682

In [45]:
# df.to_csv('user_'+ str(user_id[0])+ '.csv')